*{
    box-sizing: border-box;  
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */ /* Hide scrollbar for IE, Edge and Firefox */
}

body::-webkit-scrollbar {  /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.navbar{
    width:100%;
    top:0;
    background-color: #12141E;
    /* rgba(0, 0, 0, 0.14); */
    
    /* #444e74 */
    backdrop-filter: blur(5px); 
    /*have a blur effect on background color*/
    display: flex;
    justify-content: space-between;
    top:0;
    position: fixed;
    z-index: 2;
}

.navbar img{
    height: 5%;
    width: 5%;
    margin-left: 15px;
}

.navbar ul {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    list-style: none;
}

.navbar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right:5px;
}
  
.navbutton{
    height:100%;
    width: 130px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: 'Montserrat',sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}


/*START OF CONTAINER1////////////////////////////////////////////////////////////////////////////////////////////////*/


.container1{
    height:100vh;
    width:100%;
    background-color: #151824;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.introduction{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack the headings vertically */
}

.intro{
    margin: 0 0 0 20%;
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat',sans-serif;
    width: 495px;
    line-height: 70px;
    font-weight:400;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    border-radius: 30px;
    background-color: #1d2131;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.intro:nth-child(1){
    margin-top:25%; 
    padding:20px 30px;
}

.intro:nth-child(2){
    margin-top: 40px;
    width: 367px;
    padding:30px 30px;
    line-height: 20px;
}

.container1 img{
    display: flex;
    height:70%;
    width:auto;
    /* align-self: end;  MAKE THE IMG BE PLACED AT THE BOTTOM OF THE CONTAINER AND NOT MOVE WHEN ZOOMED OUT */ /*WITH container1 with display:grid;, grid-template-columns:1fr 1fr*/
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.fa-hand{
    font-size: 3rem;
    margin-right: 30px; /*250px*/
    animation: wave 2s infinite;
    display: inline-block;
}

@keyframes wave {
    0%, 100% { transform: rotate(0deg); transform-origin: bottom; }
    25% { transform: rotate(20deg); transform-origin: bottom; }
    75% { transform: rotate(-20deg); transform-origin: bottom; }
}

/*START OF CONTAINER2////////////////////////////////////////////////////////////////////////////////////////////////*/


.container2{
    height:auto;
    width:100%;
    background-color: #151824;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.project-title{
    color: white;
    margin-bottom: 0px;
    font-family: 'Montserrat',sans-serif;
    margin-top: 85px;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.project-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /*Allow items to wrap to the next row */
    justify-content: center; 
    /* align-content: flex-start; ADDED BY CHATGPT FOR WHEN I ADD MORE PROJECTS*/ 
    gap: 70px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.project1, .project2, .project3{  /*, .project4 ,.project5*/
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d2131;
    border-radius: 10px;
    flex-direction: column;
}

.project-image{
    height: 200px;
    width: 200px;
    margin-top: -45px;
    border-radius: 10px;
    background-color: transparent;
}

.project-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-name{
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    color: white;
    background-color: #1d2131;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 10px;
    font-family: 'Montserrat',sans-serif;
}

.project-description{
    margin-top: 20px;
    height: auto;
    max-width: 250px;
    width: auto;
    color: white;
    display: flex;
    justify-content: center;
    text-align:justify;
    font-family: 'Montserrat',sans-serif;
}


/*START OF CONTAINER3////////////////////////////////////////////////////////////////////////////////////////////////*/


.container3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    width:100%;
    background-color: #151824;
    position: relative;
    overflow: hidden;
}

.skill-title{
    color: white;
    margin-bottom: 0px;
    font-family: 'Montserrat',sans-serif;
    margin-top: 85px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.skill-container{
    height: 700px;
    width: 100%;
    display: flex;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.skill-icon{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 35px;
}

.skill-icon-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skill{
    height: 140px;
    width: 140px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    background-color:#1d2131;
}

.skill img{
    height: 80px;
    width: 90px;
}

.javascript{
    height: 10px;
    width: 10px;
}

.skill-icon-container p{
    margin:10px 0;
    color:white;
    font-family: 'Montserrat',sans-serif;
}

.skill-description{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.skill-description-container{
    height:auto;
    width: 50%;
    margin-left: 100px;
}

.dropdown-toggle {
    display: none; /*REMOVES CHECKLIST FROM <input>*/
}
  
.dropdown-label {
    display: block;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat',sans-serif;
    margin-top: 10px;
}
  
.arrow {
    float: right;
    transition: transform 0.3s;
    color:white;
    font-size: 1.2rem;
}
  
.dropdown-content {
    max-height: 0;  /*IMPORTANT TO ENABLE DROPDOWN*/
    overflow: hidden; /*IMPORTANT TO HIDE DROPDOWN CONTENT*/
    transition: max-height 0.4s;
    color: white;
    font-family: 'Montserrat',sans-serif;
    padding: 0 20px;
}
  
.dropdown-toggle:checked + .dropdown-label .arrow {
    transform: rotate(-90deg);
}
  
.dropdown-toggle:checked + .dropdown-label + .dropdown-content {
    max-height: 100px;
}


/*START OF CONTAINER3////////////////////////////////////////////////////////////////////////////////////////////////*/


.container4{
    height:100vh;
    width:100%;
    background-color: #151824;
    overflow: hidden;
    position: relative;
}

.contact-title{
    color: white;
    margin-bottom: 0px;
    font-family: 'Montserrat',sans-serif;
    margin-top: 85px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.contact-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.contact-message input{
    background-color: #1d2131;
    border-radius: 10px;
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    height: 50px;
    width: 400px;
    padding-left: 10px;
}

.contact-message textarea{
    height: 180px;
    max-height: 180px;
    min-height: 180px;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    padding-left: 20px;
    background-color: #1d2131;
    border-radius: 10px;
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    padding-top: 12px;
    padding-left: 20px;
}

.contact-message button{
    color: white;
    background-color: #1d2131;
    border-radius: 10px;
    font-family: 'Montserrat',sans-serif;
    font-size: 0.8rem;
    padding: 10px;
}

.contact-message button:hover{
    background-color: #121729;
    cursor: pointer;
}

.contact-message button:active{
    background-color: rgb(30, 35, 51);
}

footer{
    width: 100vw;
    height: 45px;
    display: flex;
    position: absolute;
    bottom: 0;
}

.social-icons{
    font-size: 2rem;
    margin-left: 10px;
    position: absolute;
    right: 0;
}

.social-icons a:nth-child(1){
    margin-left: 10px;
}

.social-icons a{
    text-decoration: none;
    margin-right: 15px;
}

